<h3>Environment details:</h3>
<table class="table">
    <tbody>
        {{! TODO: replace with some sort of 'each'? }}
        <tr><th>id:</th><td>{{selectedEnvironment.id}}</td></tr>
        <tr><th>name:</th><td>{{selectedEnvironment.name}}</td></tr>
        <tr><th>host:</th><td>{{selectedEnvironment.host}}</td></tr>
    </tbody>
</table>

