{{#bs-modal name="aboutModal" fade=true title="About this software"}}
    <table>
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{content.name}}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{content.version}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{content.description}}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{content.author}}</td>
        </tr>
        </tbody>
    </table>
{{/bs-modal}}